* {
    margin : 0;
    padding: 0;
}

/*
*
*
Estilo para conteudo do site
*/
html,
body {
    height: 100%;
}

.teste,
.teste1,
.teste2 {
    width           : 300px;
    margin-top      : 30px;
    margin-left     : 30px;
    display         : inline-block;
    height          : 300px;
    background-color: grey;
}

.teste1 {
    background-color: rgb(98, 98, 98);
}

.teste2 {
    background-color: rgb(50, 50, 50);
}

.teste:hover {
    height: 900px;
    background-color: blue;
}

.teste:hover .teste1, .teste2{
    vertical-align: top;
}