* {
    margin : 0;
    padding: 0;
}

/*
*
*
Estilo para conteudo do site
*/
html,
body {
    height: 100%;
}

.box {
    width     : 40%;
    height    : 300px;
    background: gray;
}

.box {
    height: 900px;
}

.box>.box2>span {
    display : inline-block;
    /* color:inherit;
    width   : inherit;
    height  : inherit;*/
}

@media screen and (max-width: 500px) {
    .box{
        height: 480px;
    }
}