*{
    margin:0;
    padding:0;
   }
   
   
   html,body{
     height:100%;
   }
   
   
   .bg{
       width: 500px;
       height: 500px;
       margin: 0 auto;
   
       /*Backgrounds*/
   
       background-color: red;

       background-image: url('../images/imagem01.jpg');
       background-size: 60px 80px;
       background-repeat: no-repeat /*no-repeat,repeat-y,repeat-x,repeat*/
   }