*{
    margin:0;
    padding:0;
   }
   
   
   html,body{
     height:100%;
   }
   
   
   .bg{
       width: 500px;
       height: 500px;
       margin: 0 auto;
   
       /*Backgrounds*/
   
       background-color: red;
   }