* {
    margin : 0;
    padding: 0;
}

/*
*
*
Estilo para conteudo do site
*/
html,
body {
    height: 100%;
}

/* Nao altera nada pois SPAN é padrao
span {
    width: 30px;
    height: 300px;
    background: red;
}
*/

p {
    display: inline-block;
    width: 30px;
    height: 300px;
    background: red;
}