* {
    margin : 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

.bg {
    
    
}

.box {
    width: 100%;
    margin: 80px auto;
    text-align: center;
    background-color:grey;
}

.item{
    margin: 0 40px;
    display: inline-block;
}