* {
    margin : 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

.bg {}

.box {
    width           : 100%;
    margin          : 80px auto;
    text-align      : center;
    background-color: grey;
}

.item {
    width       : 33.3333%;
    margin-right: -4px;
    background-color: black;
    display     : inline-block;
}

.last{
    margin right: 0;
}