* {
    margin : 0;
    padding: 0;
}

/*
*
*
Estilo para conteudo do site
*/
html,
body {
    height: 100%;
}

.lista,
.lista2 {
    list-style-position: inside;
    list-style-type    : disc;
    margin-left        : 20px;
}

.lista li,
.lista2 li {
    color     : #4b4b4b;
    font-size : 18px;
    margin-top: 10px;
}

.lista .item3,
.lista2 .item3 {
    font-weight: bold;
}

ol {
    list-style-position: inside;
}

/** Usando o sinal > pode ajudar ou atrapalhar **/
ol>li {
    color: red;
}

/** Parte da DIV**/
p {
    margin: 25px 50px 75px 100px;
    color : seagreen;
}

.um {
    width     : 500px;
    height    : 500px;
    background: red;
}

.um>.dois {
    width     : 300px;
    height    : 300px;
    background: green;
}

.um>.tres {
    width     : 100px;
    height    : 100px;
    background: blue
}

.um .quatro {
    width     : 90px;
    height    : 90px;
    background: grey;
}