* {
    margin : 0;
    padding: 0;
}

/*
*
*
Estilo para conteudo do site
*/
html,
body {
    height: 100%;
}

.artigo {
    width           : 100%;
    height          : auto;
    background-color: rbg(200, 200, 200);
    text-align      : center;
  }

.artigo h1 {
    color      : rgb(66, 149, 244);
    font-size  : 23px;
    font-style : normal;
    font-weight: normal;
}

.artigo p {
    color      : #b4b4b4;
    text-align : left;
    font-size  : 17px;
    font-style : normal;
    font-weight: bold;
    line-height: 40px;
    margin-top : 12px;

}